.services-wrapper {
    margin-left: 28%;
    margin-top: 5%;
    width: 40%;
    background: rgb(32, 32, 32);;
    border: 1px solid black;
}

.services-header {
    font-size: 32px;
    color: #e86085;
    text-align: center;
    text-transform: uppercase;
}
.home-img-container {
    height: 1000px;
}

.services-img {
    width: 600px;
    height: 200px;
}
.services-body {
    padding-left: 4px;
    height: 450px;
}
.services-sub-body {
    float: left;
    width: 50%;
}
.grid-container h1{
    color: #fff;
    text-align: left;
    margin-left: 30%;
    font-size: 32px;
}

.sub-head {
    color: #e86085;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}

.services-sub-body p {
    text-align: center;
}